*{
    margin: 0;
}

body{
    background-color: #d4d3ff;
}


.detail-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.detail-box {
    background-color: #f5f5f5;
    border-radius: 30px;
    width: calc((100% - 40px) / 1.5);
    padding: 20px;
    
    text-align: left;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-box .text-content {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
}

.detail-box .image-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-box .image-content img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.detail-box h2{
    font-weight: normal;
    font-style: italic;
    border-bottom: 1px solid #0000CB;
}

.detail-box p{
    font-size: 20px;
}

.detail-box .info{
    font-size: 15px;
}

.detail-box button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #0000CB;
    color: #fff;
    cursor: pointer;
}
.detail-box button:hover{
    opacity: 50%;
}

.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    cursor: pointer;
}
