.parallax-page{
    background-color: #fff;
}

.parallax-page .content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.parallax-page .title {
    transform: none;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.parallax-page .subtitle {
    transform: none;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    color: #fff;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.parallax-page .text-content{
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-size: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.parallax-page .left-text-content{
    text-align: left;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
    color: #fff;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.parallax-page .long-text-content{
    text-align: center;
    font-weight: bold;
    position: absolute;
    margin: 50px 200px;
    color: #fff;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*onstaan*/

.parallax-page .firstmain .long-text-content{
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.parallax-page .firstmain .long-text-content{
    position: relative;
}