.parallax-page{
    background-color: #fff;
}

.parallax-page .content{
    height: 100vh;
}

.parallax-page .title {
    transform: none;
    text-align: center;
    font-weight: bold;
    
    margin-top: 200px;
    color: #fff;
    font-size: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.parallax-page .subtitle {
    transform: none;
    text-align: center;
    font-weight: bold;
    
    margin-top: 40px;
    color: #fff;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.parallax-page .text-content{
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.parallax-page .long-text-content{
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 30%;
    margin: 0px 200px;
    color: #fff;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

